<div style="display: none">
    <div z-create-cluster="winCreateCluster" z-options="optionsCreateCluster"></div>
    <div z-delete-confirm="winDeleteZone" z-options="optionsDeleteZone"></div>
    <div z-create-primary-storage="winNewPrimaryStorage" z-options="optionsCreatePrimaryStorage"></div>
    <div z-create-l2-network="winNewL2Network" z-options="optionsCreateL2Network"></div>
</div>

<div class="z-pane">
    <ol class="breadcrumb">
        <li><a href="/#/zone">{{"zone.details.ZONES" | translate}}</a></li>
        <li class="active"><a href>{{model.current.name}}</a></li>
    </ol>

    <h1>{{model.current.name}}</h1>

    <div class="z-pane-toolbar" ng-show="funcToolbarShow()">
        <div class="btn-group-sm">
            <button type="button" class="btn btn-default btn-sm z-ribbon-button" ng-click="funcRefresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{"zone.details.Action" | translate}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{"zone.details.Enable" | translate}}</a></li>
                    <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{"zone.details.Disable" | translate}}</a></li>
                    <li><a href ng-click="action.createCluster(winCreateCluster)">{{"zone.details.Create Cluster" | translate}}</a></li>
                    <li><a href ng-click="action.createL2Network()">{{"zone.details.Create L2Network" | translate}}</a></li>
                    <li><a href ng-click="action.addPrimaryStorage()">{{"zone.details.Add Primary Storage" | translate}}</a></li>
                    <li><a href ng-click="action.attachBackupStorage()">{{"zone.details.Attach Backup Storage" | translate}}</a></li>
                    <li class="divider"></li>
                    <li><a href style="color:red" ng-click="funcDelete(winDeleteZone)">{{"zone.details.Delete" | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills">
        <li class="active"><a data-target="#info" data-toggle="pill" href>{{"zone.details.Info" | translate}}</a></li>
        <li><a data-target="#cluster" data-toggle="pill" href ng-click="funcLoadClusters()">{{"zone.details.Cluster" | translate}}</a></li>
        <li><a data-target="#primaryStorage" data-toggle="pill" href ng-click="funcLoadPrimaryStorage()">{{"zone.details.Primary Storage" | translate}}</a></li>
        <li><a data-target="#l2Network" data-toggle="pill" href>{{"zone.details.L2 Network" | translate}}</a></li>
        <li><a data-target="#backupStorage" data-toggle="pill" href>{{"zone.details.Backup Storage" | translate}}</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <tags-input ng-model="optionsTag.tags" display-property="tag" min-length="1"
                        on-tag-added="optionsTag.createTag($tag)" on-tag-removed="optionsTag.deleteTag($tag)"
                        add-on-comma="false" replace-spaces-with-dashes="false" ng-show="optionsTag.isShow()"></tags-input>

            <div class="panel panel-default" z-panel-header-in>
                <div class="panel-heading">
                    <a class="accordion-toggle" data-target="#infoDetails" data-toggle="collapse" href>
                        <i class="z-collapse fa fa-chevron-down"></i>
                        <span>&nbsp; {{"zone.details.DETAILS" | translate}}</span>
                    </a>
                </div>

                <div id="infoDetails" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table z-table-borderless">
                            <tr>
                                <td><span class="z-label">{{"zone.details.DESCRIPTION" | translate}}</span></td>
                                <td><span class="z-description">{{model.current.description}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"zone.details.STATE" | translate}}</span></td>
                                <td><span class="{{model.current.stateLabel()}}">{{model.current.state}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"zone.details.UUID" | translate}}</span></td>
                                <td><span>{{model.current.uuid}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"zone.details.CREATED DATE" | translate}}</span></td>
                                <td><span>{{model.current.createDate}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"zone.details.LAST UPDATED DATE" | translate}}</span></td>
                                <td><span>{{model.current.lastOpDate}}</span></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

            <div class="panel panel-default" z-panel-header-in>
                <div class="panel-heading">
                    <a class="accordion-toggle" data-target="#infoCapacities" data-toggle="collapse" href>
                        <i class="z-collapse fa fa-chevron-down"></i>
                        <span>&nbsp; {{"zone.details.CAPACITIES" | translate}}</span>
                    </a>
                </div>

                <div id="infoCapacities" class="panel-collapse collapse in">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="cluster">
            <div kendo-grid k-options="optionsClusterGrid" class="z-flat-table"></div>
        </div>

        <div class="tab-pane" id="primaryStorage">
            <div kendo-grid k-options="optionsPrimaryStorageGrid" class="z-flat-table"></div>
        </div>

        <div class="tab-pane" id="l2Network">
            <div kendo-grid k-options="optionsL2NetworkGrid" class="z-flat-table"></div>
        </div>
        <div class="tab-pane" id="backupStorage">
            <div kendo-grid k-options="optionsBackupStorageGrid" class="z-flat-table"></div>
        </div>
    </div>
</div>
