<div style="display: none">
    <div z-confirm="deleteVirtualRouterOffering" z-options="optionsDeleteVirtualRouterOffering"></div>
</div>

<div class="z-pane">
    <ol class="breadcrumb">
        <li><a href="/#/virtualRouterOffering">{{ "virtualRouterOffering.details.Virtual Router Offering" | translate }}</a></li>
        <li class="active"><a href>{{model.current.name}}</a></li>
    </ol>

    <h1>{{model.current.name}}</h1>

    <div class="z-pane-toolbar" ng-show="funcToolbarShow()">
        <div class="btn-group-sm">
            <button type="button" class="btn btn-default btn-sm z-ribbon-button" ng-click="funcRefresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{ "virtualRouterOffering.details.Action" | translate }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{ "virtualRouterOffering.details.Enable" | translate }}</a></li>
                    <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{ "virtualRouterOffering.details.Disable" | translate }}</a></li>
                    <li class="divider"></li>
                    <li><a href style="color:red" ng-click="funcDelete(deleteVirtualRouterOffering)">{{ "virtualRouterOffering.details.Delete" | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills">
        <li class="active"><a data-target="#info" data-toggle="pill" href>{{ "virtualRouterOffering.details.Info" | translate }}</a></li>
        <li><a data-target="#mgmtL3" data-toggle="pill" href>{{ "virtualRouterOffering.details.Management L3 Network" | translate }}</a></li>
        <li><a data-target="#pubL3" data-toggle="pill" href>{{ "virtualRouterOffering.details.Public L3 Network" | translate }}</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <tags-input ng-model="optionsTag.tags" display-property="tag" min-length="1"
                        on-tag-added="optionsTag.createTag($tag)" on-tag-removed="optionsTag.deleteTag($tag)"
                        add-on-comma="false" replace-spaces-with-dashes="false" ng-show="optionsTag.isShow()"></tags-input>

            <div class="panel panel-default" z-panel-header-in>
                <div class="panel-heading">
                    <a class="accordion-toggle" data-target="#infoDetails" data-toggle="collapse" href>
                        <i class="z-collapse fa fa-chevron-down"></i>
                        <span>&nbsp; {{ "virtualRouterOffering.details.DETAILS" | translate }}</span>
                    </a>
                </div>

                <div id="infoDetails" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table z-table-borderless">
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.DESCRIPTION" | translate }}</span></td>
                                <td><span class="z-description">{{model.current.description}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.STATE" | translate }}</span></td>
                                <td><span class="{{model.current.stateLabel()}}">{{model.current.state}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.CPU NUMBER" | translate }}</span></td>
                                <td><span>{{model.current.cpuNum}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.MEMORY" | translate }}</span></td>
                                <td><span>{{model.current.memorySize | size}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.IMAGE" | translate }}</span></td>
                                <td><a href="/#/image/{{model.current.imageUuid}}">{{model.current.imageUuid}}</a></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.DEFAULT OFFERING" | translate }}</span></td>
                                <td><span class="{{model.current.isDefaultLabel()}}">{{model.current.isDefault ? "TRUE":""}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.ALLOCATOR STRATEGY" | translate }}</span></td>
                                <td><span>{{model.current.allocatorStrategy}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.UUID" | translate }}</span></td>
                                <td><span>{{model.current.uuid}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.CREATED DATE" | translate }}</span></td>
                                <td><span>{{model.current.createDate}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "virtualRouterOffering.details.LAST UPDATED DATE" | translate }}</span></td>
                                <td><span>{{model.current.lastOpDate}}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane" id="mgmtL3">
            <table class="table z-table-borderless">
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.NAME" | translate }}</span></td>
                    <td><span class="z-description">{{mgmtL3.name}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.DESCRIPTION" | translate }}</span></td>
                    <td><span class="z-description">{{mgmtL3.description}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.TYPE" | translate }}</span></td>
                    <td><span>{{mgmtL3.type}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.SYSTEM NETWORK" | translate }}</span></td>
                    <td><span>{{mgmtL3.system ? "TRUE":""}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.STATE" | translate }}</span></td>
                    <td><span>{{mgmtL3.state}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.UUID" | translate }}</span></td>
                    <td><span>{{mgmtL3.uuid}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.L2 NETWORK UUID" | translate }}</span></td>
                    <td><a href="/#/l2Network/{{mgmtL3.l2NetworkUuid}}">{{mgmtL3.l2NetworkUuid}}</a></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.ZONE UUID" | translate }}</span></td>
                    <td><a href="/#/zone/{{mgmtL3.zoneUuid}}">{{mgmtL3.zoneUuid}}</a></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.CREATED DATE" | translate }}</span></td>
                    <td><span>{{mgmtL3.createDate}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.LAST UPDATED DATE" | translate }}</span></td>
                    <td><span>{{mgmtL3.lastOpDate}}</span></td>
                </tr>
            </table>
        </div>

        <div class="tab-pane" id="pubL3">
            <table class="table z-table-borderless">
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.NAME" | translate }}</span></td>
                    <td><span class="z-description">{{pubL3.name}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.DESCRIPTION" | translate }}</span></td>
                    <td><span class="z-description">{{pubL3.description}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.TYPE" | translate }}</span></td>
                    <td><span>{{pubL3.type}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.SYSTEM NETWORK" | translate }}</span></td>
                    <td><span>{{pubL3.system ? "TRUE":""}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.STATE" | translate }}</span></td>
                    <td><span>{{pubL3.state}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.UUID" | translate }}</span></td>
                    <td><span>{{pubL3.uuid}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.L2 NETWORK UUID" | translate }}</span></td>
                    <td><a href="/#/l2Network/{{pubL3.l2NetworkUuid}}">{{pubL3.l2NetworkUuid}}</a></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.ZONE UUID" | translate }}</span></td>
                    <td><a href="/#/zone/{{pubL3.zoneUuid}}">{{pubL3.zoneUuid}}</a></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.CREATED DATE" | translate }}</span></td>
                    <td><span>{{pubL3.createDate}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{ "virtualRouterOffering.details.LAST UPDATED DATE" | translate }}</span></td>
                    <td><span>{{pubL3.lastOpDate}}</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
