<div kendo-window="winCreatePrimaryStorage__" k-visible="false" k-options="winCreatePrimaryStorageOptions__">
    <div class="row">
        <div class="col-sm-15">
            <div class="tab-content">
                <div id="createPrimaryStorageInfo" class="tab-pane active">
                    <div class="alert alert-warning col-sm-21" ng-show="!infoPage.hasZone()">
                        No zone has been created. Please go to <a href="/#/zone">zone page</a> to create a new one.
                    </div>

                    <h4 class="z-win-h4">CREATE PRIMARY STORAGE</h4>
                    <form class="form" id="formCreate">
                        <div class="form-group col-sm-24">
                            <label for="zone">ZONE</label>
                            <select id="zone" kendo-drop-down-list k-options="zoneList" class="z-win-dropdown" ng-model="infoPage.zoneUuid"></select>
                            <p class="z-hint">(Required) select zone where the Primary Storage is being created</p>
                        </div>
                        <div class="form-group col-sm-21">
                            <label for="name">NAME</label>
                            <input class="form-control" type="text" id="name" placeholder="(Required) max length of 255 characters" ng-model="infoPage.name" required data-message="name is required">
                        </div>
                        <div class="form-group col-sm-21">
                            <label for="description">DESCRIPTION</label>
                            <textarea  class="form-control" rows="5" id="description" placeholder="(Optional) max length of 2048 characters" ng-model="infoPage.description"></textarea>
                        </div>
                        <div class="form-group col-sm-24">
                            <label for="type">TYPE</label>
                            <select id="type" kendo-drop-down-list k-options="typeList" class="z-win-dropdown" ng-model="infoPage.type"></select>
                            <p class="z-hint">(Required) select type of primary storage</p>
                        </div>
                        <div class="form-group col-sm-21" ng-show="infoPage.type != 'Ceph'">
                            <label for="url" class="z-block-label">URL</label>
                            <input id="url" type="text" ng-model="infoPage.url" class="form-control" placeholder="(Required) Url of primary storage">
                            <p class="z-hint" ng-show="infoPage.type == 'NFS'">(Required) for NFS primary storage, url is 'ip_or_dns_name:absolute_path', for example, '192.168.0.10:/primaryStorage'</p>
                            <p class="z-hint" ng-show="infoPage.type == 'LocalStorage'">(Required) for local storage, url is an absolute path, for example, '/volumes'. The folder will be created on every host.</p>
                            <p class="z-hint" ng-show="infoPage.type == 'IscsiFileSystemBackendPrimaryStorage'">(Required) for ISCSI storage with BTRFS backend, url is an absolute path, for example, '/volumes'. The folder will be created on the BTRFS server.</p>
                            <div class="alert alert-danger col-sm-21" ng-show="!infoPage.isUrlValid() && infoPage.type == 'NFS'">
                                Not a valid NFS mount path. Valid mount path must be in format of ip_or_dns_name:absolute_path, '192.168.0.10:/primaryStorage'
                            </div>
                          <div class="alert alert-danger col-sm-21" ng-show="!infoPage.isUrlValid() && infoPage.type == 'LocalStorage'">
                            Not an absolute path. The path must be start with '/'
                          </div>
                          <div class="alert alert-danger col-sm-21" ng-show="!infoPage.isUrlValid() && infoPage.type == 'IscsiFileSystemBackendPrimaryStorage'">
                            Not an absolute path. The path must be start with '/'
                          </div>
                        </div>

                      <div ng-switch="infoPage.type">
                        <div ng-switch-when="IscsiFileSystemBackendPrimaryStorage">
                          <div class="form-group col-sm-21">
                            <label for="hostname">HOSTNAME</label>
                            <input type="text" class="form-control" id="hostname" placeholder="IP or DNS name of btrfs server" ng-model="infoPage.hostname">
                          </div>
                          <div class="form-group col-sm-21">
                            <label for="username">SSH USERNAME</label>
                            <input type="text" class="form-control" id="username" placeholder="ssh user name of btrfs server" ng-model="infoPage.sshUsername">
                            <p class="z-hint">The user must have root privilege on btrfs server</p>
                          </div>
                          <div class="form-group col-sm-21">
                            <label for="password">SSH PASSWORD</label>
                            <input type="password" class="form-control" id="password" placeholder="ssh password of btrfs server" ng-model="infoPage.sshPassword">
                          </div>
                          <div class="form-group col-sm-21">
                            <label for="username">CHAP USERNAME</label>
                            <input type="text" class="form-control" id="chapUsername" placeholder="chap username for iscsi server" ng-model="infoPage.chapUsername">
                            <p class="z-hint">(Optional) CHAP username for ISCSI server</p>
                          </div>
                          <div class="form-group col-sm-21">
                            <label for="password">CHAP PASSWORD</label>
                            <input type="password" class="form-control" id="chapPassword" placeholder="chap password of iscsi server" ng-model="infoPage.chapPassword">
                            <p class="z-hint">(Optional) CHAP password for ISCSI server</p>
                          </div>
                        </div>
                        <div ng-switch-when="Ceph">
                          <div class="form-group col-sm-21">
                            <label for="cephhostname">HOSTNAME</label>
                            <input type="text" class="form-control" id="cephhostname" placeholder="IP or DNS name of ceph mon server" ng-model="infoPage.hostname">
                          </div>
                          <div class="form-group col-sm-21">
                            <label for="cephusername">SSH USER NAME</label>
                            <input type="text" class="form-control" id="cephusername" placeholder="ssh user name of ceph mon server" ng-model="infoPage.sshUsername">
                            <p class="z-hint">The user must have root privilege on the ceph mon server</p>
                          </div>
                          <div class="form-group col-sm-21">
                            <label for="cephpassword">SSH PASSWORD</label>
                            <input type="password" class="form-control" id="cephpassword" placeholder="ssh password of ceph mon server" ng-model="infoPage.sshPassword">
                          </div>
                          <div class="form-group col-sm-24">
                            <button type="button" class="btn btn-default" ng-click="infoPage.addCephMon()" ng-disabled="!infoPage.canAddMon()">
                              <i class="fa fa-plus" style="font-size: 1.2em"></i>
                              <span>Add</span>
                            </button>
                            <span class="z-hint">Please add at least one ceph mon server</span>
                          </div>
                          <div class="form-group col-sm-24">
                            <div kendo-grid k-options="cephMonGrid__"></div>
                          </div>
                        </div>
                      </div>
                    </form>
                </div>

                <div id="createPrimaryStorageCluster" class="tab-pane">
                    <div class="alert alert-warning col-sm-21" ng-show="!clusterPage.hasCluster()">
                        No cluster is eligible to attach. Please click 'Add' button to proceed.
                    </div>

                    <h4 class="z-win-h4">ATTACH CLUSTER</h4>
                    <form class="form">
                        <div class="form-group col-sm-18">
                            <label for="ps">CLUSTER</label>
                            <select id="ps" kendo-multi-select="clusterList__" k-options="clusterListOptions__" class="z-win-dropdown"></select>
                            <p class="z-hint">(Optional) select one or more cluster to attach. Or do it later after creating primary storage</p>
                        </div>
                    </form>
                </div>

                <div class="form-group col-sm-21">
                    <button type="button" class="btn btn-default" ng-click="button.previousClick()" ng-disabled="!button.canPreviousProceed()">Previous</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!button.canNextProceed()" ng-click="button.nextClick()">{{button.nextButtonName()}}</button>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="z-wizard-bar">
                <ul class="nav">
                    <li class="active"><a data-target="#createPrimaryStorageInfo" ng-click="button.pageClick('createPrimaryStorageInfo')">PRIMARY STORAGE INFO</a></li>
                    <li ng-class="{disabled: !psPage.isActive()}"><a data-target="#createPrimaryStorageCluster" ng-click="button.pageClick('createPrimaryStorageCluster')">ATTACH CLUSTER</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
