<div kendo-window="attachZone__" k-visible="false">
    <div>
        <h4 class="z-win-h4">ATTACH ZONE</h4>
        <form class="form">
            <div class="form-group col-sm-18">
                <label for="zone">ZONE</label>
                <select id="zone" kendo-multi-select="zoneList__" k-options="zoneListOptions__" class="z-win-dropdown"></select>
                <p class="z-hint">(Required) select one or more zone to attach</p>
            </div>
            <div class="form-group col-lg-18">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-disabled="!canProceed()" ng-click="done()">Attach</button>
            </div>
        </form>
    </div>
</div>
