<div style="display: none">
    <div z-create-backup-storage="winNewBackupStorage" z-options="optionsCreateBackupStorage"></div>
    <div z-search="search" z-options="optionsSearch"></div>
    <div z-delete-confirm="deleteBackupStorage" z-options="optionsDeleteBackupStorage"></div>
    <div z-backup-storage-attach-zone="attachZone" z-options="optionsAttachZone"></div>
    <div z-backup-storage-detach-zone="detachZone" z-options="optionsDetachZone"></div>
</div>

<div>
    <h3 class="z-h3">{{ "backupStorage.backupStorage.BACKUP STORAGE" | translate }}</h3>
    <div class="btn-group-sm z-btn-bar">
        <button type="button" class="btn btn-default btn-sm" ng-click="funcRefresh()">
            <i class="fa fa-refresh"></i>
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-click="funcSearch(search)">
            <i class="fa fa-search"></i>
        </button>

        <div z-sort-by z-options="optionsSortBy"></div>

        <button z-popover="popoverFilterBy" type="button" id="backupStorageFilter" z-content-id="backupStorageFilterContent" class="btn btn-default btn-sm" ng-click="filterBy.open(popoverFilterBy)">
            <i class="fa fa-filter"></i><span>&nbsp; {{filterBy.getButtonName()}}</span>
        </button>

        <button type="button" class="btn btn-success btn-sm" style="margin-left: 20px" ng-click="funcCreateBackupStorage(winNewBackupStorage)">
            <i class="fa fa-plus"></i>
            <span>&nbsp; {{ "backupStorage.backupStorage.New Backup Storage" | translate }}</span>
        </button>

        <div id="backupStorageFilterContent" style="display: none">
            <form class="form">
                <div class="form-group">
                    <label for="fieldList" class="z-block-label">{{ "backupStorage.backupStorage.FILTER BY" | translate }}</label>
                    <select id="fieldList" kendo-drop-down-list k-options="filterBy.fieldList" ng-model="filterBy.field"></select>
                </div>
                <div class="form-group">
                    <label class="z-block-label" for="valueList">{{ "backupStorage.backupStorage.VALUE" | translate }}</label>
                    <select kendo-drop-down-list id="valueList" ng-disabled="filterBy.isValueListDisabled()" k-options="filterBy.valueList" ng-model="filterBy.value"></select>
                </div>
                <button type="button" class="btn btn-sm btn-primary" ng-click="filterBy.confirm(popoverFilterBy)">{{ "backupStorage.backupStorage.Confirm" | translate }}</button>
            </form>
        </div>

        <div class="btn-group" ng-show="funcIsActionShow()">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="funcIsActionDisabled()">
                {{ "backupStorage.backupStorage.Action" | translate }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{ "backupStorage.backupStorage.Enable" | translate }}</a></li>
                <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{ "backupStorage.backupStorage.Disable" | translate }}</a></li>
                <li><a href ng-show="action.isReconnectShow()" ng-click="action.reconnect()">{{ "backupStorage.backupStorage.Reconnect" | translate }}</a></li>
                <li><a href ng-click="action.attachZone()">{{ "backupStorage.backupStorage.Attach Zone" | translate }}</a></li>
                <li><a href ng-click="action.detachZone()">{{ "backupStorage.backupStorage.Detach Zone" | translate }}</a></li>
                <li class="divider"></li>
                <li><a href style="color:red" ng-click="funcDeleteBackupStorage(deleteBackupStorage)">{{ "backupStorage.backupStorage.Delete" | translate }}</a></li>
            </ul>
        </div>
    </div>

    <div kendo-grid="backupStorageGrid" k-options="oBackupStorageGrid.options" z-grid-double-click="funcGridDoubleClick" class="z-flat-table"></div>
    <p class="z-hint">{{ "backupStorage.backupStorage.HINT1" | translate }}</p>
    <p class="z-hint">{{ "backupStorage.backupStorage.HINT2" | translate }}</p>
</div>
