<div style="display: none">
    <div z-delete-confirm="deleteBackupStorage" z-options="optionsDeleteBackupStorage"></div>
    <div z-backup-storage-attach-zone="attachZone" z-options="optionsAttachZone"></div>
    <div z-backup-storage-detach-zone="detachZone" z-options="optionsDetachZone"></div>
</div>

<div class="z-pane">
    <ol class="breadcrumb">
        <li><a href="/#/backupStorage">{{ "backupStorage.details.BACKUP STORAGE" | translate }}</a></li>
        <li class="active"><a href>{{model.current.name}}</a></li>
    </ol>

    <h1>{{model.current.name}}</h1>

    <div class="z-pane-toolbar" ng-show="funcToolbarShow()">
        <div class="btn-group-sm">
            <button type="button" class="btn btn-default btn-sm z-ribbon-button" ng-click="funcRefresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{ "backupStorage.details.Action" | translate }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{ "backupStorage.details.Enable" | translate }}</a></li>
                    <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{ "backupStorage.details.Disable" | translate }}</a></li>
                    <li><a href ng-show="action.isReconnectShow()" ng-click="action.reconnect()">{{ "backupStorage.details.Reconnect" | translate }}</a></li>
                    <li><a href ng-click="action.attachZone()">{{ "backupStorage.details.Attach Zone" | translate }}</a></li>
                    <li><a href ng-click="action.detachZone()">{{ "backupStorage.details.Detach Zone" | translate }}</a></li>
                    <li class="divider"></li>
                    <li><a href style="color:red" ng-click="funcDelete(deleteBackupStorage)">{{ "backupStorage.details.Delete" | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills">
        <li class="active"><a data-target="#info" data-toggle="pill" href>{{ "backupStorage.details.Info" | translate }}</a></li>
        <li><a data-target="#cluster" data-toggle="pill" href>{{ "backupStorage.details.Zone" | translate }}</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <tags-input ng-model="optionsTag.tags" display-property="tag" min-length="1"
                        on-tag-added="optionsTag.createTag($tag)" on-tag-removed="optionsTag.deleteTag($tag)"
                        add-on-comma="false" replace-spaces-with-dashes="false" ng-show="optionsTag.isShow()"></tags-input>

            <div class="panel panel-default" z-panel-header-in>
                <div class="panel-heading">
                    <a class="accordion-toggle" data-target="#infoDetails" data-toggle="collapse" href>
                        <i class="z-collapse fa fa-chevron-down"></i>
                        <span>&nbsp; {{ "backupStorage.details.DETAILS" | translate }}</span>
                    </a>
                </div>

                <div id="infoDetails" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table z-table-borderless">
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.DESCRIPTION" | translate }}</span></td>
                                <td><span class="z-description">{{model.current.description}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.STATE" | translate }}</span></td>
                                <td><span class="{{model.current.stateLabel()}}">{{model.current.state}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.STATUS" | translate }}</span></td>
                                <td><span class="{{model.current.statusLabel()}}">{{model.current.status}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.TYPE" | translate }}</span></td>
                                <td><span>{{model.current.type}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.URL" | translate }}</span></td>
                                <td><span>{{model.current.url}}</span></td>
                            </tr>
                            <tr ng-switch="model.current.type">
                                <td ng-switch-when="SftpBackupStorage">
                                    <span class="z-label">{{ "backupStorage.details.HOSTNAME" | translate }}</span>
                                </td>
                                <td ng-switch-when="SftpBackupStorage">
                                    <span>{{model.current.hostname}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.TOTAL CAPACITY" | translate }}</span></td>
                                <td><span>{{model.current.totalCapacity | size}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.AVAILABLE CAPACITY" | translate }}</span></td>
                                <td><span>{{model.current.availableCapacity | size}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.UUID" | translate }}</span></td>
                                <td><span>{{model.current.uuid}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.CREATED DATE" | translate }}</span></td>
                                <td><span>{{model.current.createDate}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "backupStorage.details.LAST UPDATED DATE" | translate }}</span></td>
                                <td><span>{{model.current.lastOpDate}}</span></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane" id="cluster">
            <div kendo-grid k-options="optionsZoneGrid" class="z-flat-table"></div>
            <p class="z-hint">{{ "backupStorage.details.HINT" | translate }}</p>
        </div>
    </div>
</div>
