<div kendo-window="deleteDataVolumeFromBackupStorage__" k-options="deleteDataVolumeFromBackupStorageOptions__" k-visible="false">
    <div>
        <div class="alert alert-warning col-sm-21" ng-show="!hasBackupStorage()">
            {{ "volume.deleteVolumeFromBackupStorage.ALERT1.1" | translate }}<a href="/#/backupStorage">{{ "volume.deleteVolumeFromBackupStorage.ALERT1.2" | translate }}</a>{{ "volume.deleteVolumeFromBackupStorage.ALERT1.3" | translate }}
        </div>

        <h4 class="z-win-h4">{{ "volume.deleteVolumeFromBackupStorage.BACKUP DATA VOLUME" | translate }}</h4>
        <form class="form">
            <div class="form-group col-sm-18">
                <label for="ps">{{ "volume.deleteVolumeFromBackupStorage.BACKUP STORAGE" | translate }}</label>
                <select id="ps" kendo-drop-down-list="backupStorageList__" k-options="backupStorageOptions__" class="z-win-dropdown" ng-model="bsUuid"></select>
            </div>
            <div class="form-group col-lg-18">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{ "volume.deleteVolumeFromBackupStorage.Cancel" | translate }}</button>
                <button type="button" class="btn btn-danger" ng-disabled="!canProceed()" ng-click="done()">{{ "volume.deleteVolumeFromBackupStorage.Delete" | translate }}</button>
            </div>
        </form>
    </div>
</div>
