<div style="display: none">
    <div z-edit-global-config="editGlobalConfigWin" z-options="editGlobalConfigOptions"></div>
</div>

<div class="z-pane">
    <ol class="breadcrumb">
        <li><a href="/#/globalConfig">{{ "globalConfig.details.GLOBAL CONFIGURE" | translate }}</a></li>
        <li class="active"><a href>{{model.current.category}} - {{model.current.name}}</a></li>
    </ol>

    <h1>{{model.current.name}}</h1>

    <div class="z-pane-toolbar" ng-show="funcToolbarShow()">
        <div class="btn-group-sm">
            <button type="button" class="btn btn-default btn-sm z-ribbon-button" ng-click="funcRefresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{ "globalConfig.details.Action" | translate }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="action.edit()">{{ "globalConfig.details.Edit" | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills">
        <li class="active"><a data-target="#info" data-toggle="pill" href>{{ "globalConfig.details.Info" | translate }}</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <div class="panel panel-default" z-panel-header-in>
                <div class="panel-heading">
                    <a class="accordion-toggle" data-target="#infoDetails" data-toggle="collapse" href>
                        <i class="z-collapse fa fa-chevron-down"></i>
                        <span>&nbsp; {{ "globalConfig.details.DETAILS" | translate }}</span>
                    </a>
                </div>

                <div id="infoDetails" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table z-table-borderless">
                            <tr>
                                <td><span class="z-label">{{ "globalConfig.details.CATEGORY" | translate }}</span></td>
                                <td><span class="z-description">{{model.current.category}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "globalConfig.details.NAME" | translate }}</span></td>
                                <td><span class="z-description">{{model.current.name}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "globalConfig.details.DESCRIPTION" | translate }}</span></td>
                                <td><span class="z-description">{{model.current.description}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{ "globalConfig.details.VALUE" | translate }}</span></td>
                                <td><span class="z-description">{{model.current.value}}</span></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
