<div kendo-window="attachCluster__" k-visible="false">
    <div>
        <div class="alert alert-warning col-sm-21" ng-show="!hasCluster()">
            {{"l2Network.attachCluster.HINT" | translate}} <a href="/#/cluster">{{"l2Network.attachCluster.cluster page" | translate}}</a> {{"l2Network.attachCluster.to create a new one." | translate}}
        </div>

        <h4 class="z-win-h4">{{"l2Network.attachCluster.ATTACH CLUSTER" | translate}}</h4>
        <form class="form">
            <div class="form-group col-sm-18">
                <label for="ps">{{"l2Network.attachCluster.CLUSTER" | translate}}</label>
                <select id="ps" kendo-multi-select="clusterList__" k-options="clusterListOptions__" class="z-win-dropdown"></select>
                <p class="z-hint">{{"l2Network.attachCluster.HINT2" | translate}}</p>
            </div>
            <div class="form-group col-lg-18">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{"l2Network.attachCluster.Cancel" | translate}}</button>
                <button type="button" class="btn btn-primary" ng-disabled="!canProceed()" ng-click="done()">{{"l2Network.attachCluster.Attach" | translate}}</button>
            </div>
        </form>
    </div>
</div>
