<div style="display: none">
    <div z-delete-confirm="deleteL2Network" z-options="optionsDeleteL2Network"></div>
    <div z-l2-network-attach-cluster="attachCluster" z-options="optionsAttachCluster"></div>
    <div z-l2-network-detach-cluster="detachCluster" z-options="optionsDetachCluster"></div>
</div>

<div class="z-pane">
    <ol class="breadcrumb">
        <li><a href="/#/l2Network">{{"l2Network.details.L2 NETWORK" | translate}}</a></li>
        <li class="active"><a href>{{model.current.name}}</a></li>
    </ol>

    <h1>{{model.current.name}}</h1>

    <div class="z-pane-toolbar" ng-show="funcToolbarShow()">
        <div class="btn-group-sm">
            <button type="button" class="btn btn-default btn-sm z-ribbon-button" ng-click="funcRefresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{"l2Network.details.Action" | translate}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="action.attachCluster()">{{"l2Network.details.Attach Cluster" | translate}}</a></li>
                    <li><a href ng-click="action.detachCluster()">{{"l2Network.details.Detach Cluster" | translate}}</a></li>
                    <li class="divider"></li>
                    <li><a href style="color:red" ng-click="funcDelete(deleteL2Network)">{{"l2Network.details.Delete" | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills">
        <li class="active"><a data-target="#info" data-toggle="pill" href>{{"l2Network.details.Info" | translate}}</a></li>
        <li><a data-target="#cluster" data-toggle="pill" href ng-click="funcLoadClusters()">{{"l2Network.details.Cluster" | translate}}</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <tags-input ng-model="optionsTag.tags" display-property="tag" min-length="1"
                        on-tag-added="optionsTag.createTag($tag)" on-tag-removed="optionsTag.deleteTag($tag)"
                        add-on-comma="false" replace-spaces-with-dashes="false" ng-show="optionsTag.isShow()"></tags-input>

            <div class="panel panel-default" z-panel-header-in>
                <div class="panel-heading">
                    <a class="accordion-toggle" data-target="#infoDetails" data-toggle="collapse" href>
                        <i class="z-collapse fa fa-chevron-down"></i>
                        <span>&nbsp; {{"l2Network.details.DETAILS" | translate}}</span>
                    </a>
                </div>

                <div id="infoDetails" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table z-table-borderless">
                            <tr>
                                <td><span class="z-label">{{"l2Network.details.DESCRIPTION" | translate}}:</span></td>
                                <td><span class="z-description">{{model.current.description}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"l2Network.details.TYPE" | translate}}:</span></td>
                                <td><span>{{model.current.type}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"l2Network.details.PHYSICAL INTERFACE" | translate}}:</span></td>
                                <td><span>{{model.current.physicalInterface}}</span></td>
                            </tr>
                            <tr ng-switch="model.current.type">
                                <td ng-switch-when="L2VlanNetwork">
                                    <span class="z-label">{{"l2Network.details.VLAN" | translate}}</span>
                                </td>
                                <td ng-switch-when="L2VlanNetwork">
                                    <span>{{model.current.vlan}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"l2Network.details.UUID" | translate}}:</span></td>
                                <td><span>{{model.current.uuid}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"l2Network.details.ZONE UUID" | translate}}:</span></td>
                                <td><a href="/#/zone/{{model.current.zoneUuid}}">{{model.current.zoneUuid}}</a></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"l2Network.details.CREATED DATE" | translate}}:</span></td>
                                <td><span>{{model.current.createDate}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"l2Network.details.LAST UPDATED DATE" | translate}}:</span></td>
                                <td><span>{{model.current.lastOpDate}}</span></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane" id="cluster">
            <div kendo-grid k-options="optionsClusterGrid" class="z-flat-table"></div>
            <p class="z-hint">{{"l2Network.details.HINT" | translate}}</p>
        </div>
    </div>
</div>
