<div kendo-window="detachEip__" k-options="optionsDetachEip__" k-visible="false">
    <div>
        <h4 class="z-win-h4">{{"eip.detachEip.DETACH EIP" | translate}}</h4>

        <table class="table z-table-borderless">
            <tr>
                <td><span class="z-label">{{"eip.detachEip.VM NAME" | translate}}:</span></td>
                <td><span class="z-description">{{vm.name}}</span></td>
            </tr>
            <tr>
                <td><span class="z-label">{{"eip.detachEip.VM STATE" | translate}}:</span></td>
                <td><span class="{{vmStateLabel()}}">{{vm.state}}</span></td>
            </tr>
            <tr>
                <td><span class="z-label">{{"eip.detachEip.VM HYPERVISOR" | translate}}:</span></td>
                <td><span>{{vm.hypervisorType}}</span></td>
            </tr>
            <tr>
                <td><span class="z-label">{{"eip.detachEip.NIC DEVICE ID" | translate}}:</span></td>
                <td><span>{{vm.nicDeviceId}}</span></td>
            </tr>
            <tr>
                <td><span class="z-label">{{"eip.detachEip.NIC MAC" | translate}}:</span></td>
                <td><span>{{vm.nicMac}}</span></td>
            </tr>
            <tr>
                <td><span class="z-label">{{"eip.detachEip.NIC IP" | translate}}:</span></td>
                <td><span>{{vm.nicIp}}</span></td>
            </tr>
            <tr>
                <td><span class="z-label">{{"eip.detachEip.NIC NETMASK" | translate}}:</span></td>
                <td><span>{{vm.nicNetmask}}</span></td>
            </tr>
            <tr>
                <td><span class="z-label">{{"eip.detachEip.NIC GATEWAY" | translate}}:</span></td>
                <td><span>{{vm.nicGateway}}</span></td>
            </tr>
        </table>

        <p style="color: red" ng-show="!isVmInCorrectState()">{{"eip.detachEip.HINT1" | translate}}</p>

        <button type="button" class="btn btn-default" ng-click="cancel()">{{"eip.detachEip.Cancel" | translate}}</button>
        <button type="button" class="btn btn-danger" ng-disabled="!canProceed()" ng-click="done()">{{"eip.detachEip.Detach" | translate}}</button>
    </div>
</div>
