<div style="display: none">
    <div z-confirm="deleteEip" z-options="optionsDeleteEip"></div>
    <div z-eip-attach-vm="attachEip" z-options="optionsAttachEip"></div>
    <div z-eip-detach-vm="detachEip" z-options="optionsDetachEip"></div>
</div>

<div class="z-pane">
    <ol class="breadcrumb">
        <li><a href="/#/eip">{{"eip.details.EIP" | translate}}</a></li>
        <li class="active"><a href>{{model.current.name}}</a></li>
    </ol>

    <h1>{{model.current.name}}</h1>

    <div class="z-pane-toolbar" ng-show="funcToolbarShow()">
        <div class="btn-group-sm">
            <button type="button" class="btn btn-default btn-sm z-ribbon-button" ng-click="funcRefresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{"eip.details.Action" | translate}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{"eip.details.Enable" | translate}}</a></li>
                    <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{"eip.details.Disable" | translate}}</a></li>
                    <li><a href ng-click="action.attach()" ng-show="model.current.isAttachShow()">{{"eip.details.Attach" | translate}}</a></li>
                    <li><a href ng-click="action.detach()" ng-show="model.current.isDetachShow()">{{"eip.details.Detach" | translate}}</a></li>
                    <li class="divider"></li>
                    <li><a href style="color:red" ng-click="funcDelete(deleteEip)">{{"eip.details.Delete" | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills">
        <li class="active"><a data-target="#info" data-toggle="pill" href>{{"eip.details.Info" | translate}}</a></li>
        <li><a data-target="#vip" data-toggle="pill" href>{{"eip.details.VIP" | translate}}</a></li>
        <li ng-show="nic != null"><a data-target="#nic" data-toggle="pill" href>{{"eip.details.Vm Nic" | translate}}</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <tags-input ng-model="optionsTag.tags" display-property="tag" min-length="1"
                        on-tag-added="optionsTag.createTag($tag)" on-tag-removed="optionsTag.deleteTag($tag)"
                        add-on-comma="false" replace-spaces-with-dashes="false" ng-show="optionsTag.isShow()"></tags-input>

            <div class="panel panel-default" z-panel-header-in>
                <div class="panel-heading">
                    <a class="accordion-toggle" data-target="#infoDetails" data-toggle="collapse" href>
                        <i class="z-collapse fa fa-chevron-down"></i>
                        <span>&nbsp; {{"eip.details.DETAILS" | translate}}</span>
                    </a>
                </div>

                <div id="infoDetails" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table z-table-borderless">
                            <tr>
                                <td><span class="z-label">{{"eip.details.DESCRIPTION" | translate}}:</span></td>
                                <td><span class="z-description">{{model.current.description}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"eip.details.STATE" | translate}}:</span></td>
                                <td><span class="{{model.current.stateLabel()}}">{{model.current.state}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"eip.details.VIP UUID" | translate}}:</span></td>
                                <td><a href="/#/vip/{{model.current.vipUuid}}">{{model.current.vipUuid}}</a></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"eip.details.VM NIC UUID" | translate}}:</span></td>
                                <td><a href="/#/vm/nic/{{model.current.vmNicUuid}}">{{model.current.vmNicUuid}}</a></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"eip.details.UUID" | translate}}:</span></td>
                                <td><span>{{model.current.uuid}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"eip.details.CREATED DATE" | translate}}:</span></td>
                                <td><span>{{model.current.createDate}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"eip.details.UPDATED DATE" | translate}}:</span></td>
                                <td><span>{{model.current.lastOpDate}}</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="vip">
            <table class="table z-table-borderless" style="margin-left: 10px">
                <tr>
                    <td><span class="z-label">{{"eip.details.NAME" | translate}}:</span></td>
                    <td><span>{{vip.name}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.DESCRIPTION" | translate}}:</span></td>
                    <td><span class="z-description">{{vip.description}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.STATE" | translate}}:</span></td>
                    <td><span class="{{vip.stateLabel()}}">{{vip.state}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.IP" | translate}}:</span></td>
                    <td><span>{{vip.ip}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.GATEWAY" | translate}}:</span></td>
                    <td><span>{{vip.gateway}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.NETMASK" | translate}}:</span></td>
                    <td><span>{{vip.netmask}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.USE" | translate}}:</span></td>
                    <td><span>{{vip.useFor}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.SERVICE PROVIDER" | translate}}:</span></td>
                    <td><span>{{vip.serviceProvider}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.L3 NETWORK UUID" | translate}}:</span></td>
                    <td><a href="/#/l3Network/{{vip.l3NetworkUuid}}">{{vip.l3NetworkUuid}}</a></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.PEER L3 NETWORK UUID" | translate}}:</span></td>
                    <td><a href="/#/l3Network/{{vip.peerL3NetworkUuid}}">{{vip.peerL3NetworkUuid}}</a></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.UUID" | translate}}:</span></td>
                    <td><span><a href="/#/vip/{{vip.uuid}}">{{vip.uuid}}</a></span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.CREATED DATE" | translate}}:</span></td>
                    <td><span>{{model.current.createDate}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.LAST UPDATED DATE" | translate}}:</span></td>
                    <td><span>{{model.current.lastOpDate}}</span></td>
                </tr>
            </table>
        </div>


        <div class="tab-pane" id="nic">
            <table class="table z-table-borderless">
                <tr>
                    <td><span class="z-label">{{"eip.details.IP" | translate}}:</span></td>
                    <td><span>{{nic.ip}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.GATEWAY" | translate}}:</span></td>
                    <td><span>{{nic.gateway}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.NETMASK" | translate}}:</span></td>
                    <td><span>{{nic.netmask}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.MAC" | translate}}:</span></td>
                    <td><span>{{nic.mac}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.DEVICE ID" | translate}}:</span></td>
                    <td><span>{{nic.deviceId}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.L3 NETWORK UUID" | translate}}:</span></td>
                    <td><a href="/#/l3Network/{{nic.l3NetworkUuid}}">{{nic.l3NetworkUuid}}</a></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.VM INSTANCE UUID" | translate}}:</span></td>
                    <td><a href="/#/vmInstance/{{nic.vmInstanceUuid}}">{{nic.vmInstanceUuid}}</a></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.UUID" | translate}}:</span></td>
                    <td><span>{{nic.uuid}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.CREATED DATE" | translate}}:</span></td>
                    <td><span>{{nic.createDate}}</span></td>
                </tr>
                <tr>
                    <td><span class="z-label">{{"eip.details.LAST UPDATED DATE" | translate}}:</span></td>
                    <td><span>{{nic.lastOpDate}}</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
