<div style="display: none">
    <div z-create-eip="winNewEip" z-options="optionsCreateEip"></div>
    <div z-search="search" z-options="optionsSearch"></div>
    <div z-confirm="deleteEip" z-options="optionsDeleteEip"></div>
    <div z-eip-attach-vm="attachEip" z-options="optionsAttachEip"></div>
    <div z-eip-detach-vm="detachEip" z-options="optionsDetachEip"></div>
</div>

<div>
    <h3 class="z-h3">{{"eip.eip.EIP" | translate}}</h3>
    <div class="btn-group-sm z-btn-bar">
        <button type="button" class="btn btn-default btn-sm" ng-click="funcRefresh()">
            <i class="fa fa-refresh"></i>
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-click="funcSearch(search)">
            <i class="fa fa-search"></i>
        </button>

        <div z-sort-by z-options="optionsSortBy"></div>

        <button z-popover="popoverFilterBy" type="button" id="eipFilter" z-content-id="eipFilterContent" class="btn btn-default btn-sm" ng-click="filterBy.open(popoverFilterBy)">
            <i class="fa fa-filter"></i><span>&nbsp; {{filterBy.getButtonName()}}</span>
        </button>

        <button type="button" class="btn btn-success btn-sm" style="margin-left: 20px" ng-click="funcCreateEip(winNewEip)">
            <i class="fa fa-plus"></i>
            <span>&nbsp; {{"eip.eip.New EIP" | translate}}</span>
        </button>

        <div id="eipFilterContent" style="display: none">
            <form class="form">
                <div class="form-group">
                    <label for="fieldList" class="z-block-label">{{"eip.eip.FILTER BY" | translate}}</label>
                    <select id="fieldList" kendo-drop-down-list k-options="filterBy.fieldList" ng-model="filterBy.field"></select>
                </div>
                <div class="form-group">
                    <label class="z-block-label" for="valueList">{{"eip.eip.VALUE" | translate}}</label>
                    <select kendo-drop-down-list id="valueList" ng-disabled="filterBy.isValueListDisabled()" k-options="filterBy.valueList" ng-model="filterBy.value"></select>
                </div>
                <button type="button" class="btn btn-sm btn-primary" ng-click="filterBy.confirm(popoverFilterBy)">{{"eip.eip.Confirm" | translate}}</button>
            </form>
        </div>

        <div class="btn-group" ng-show="funcIsActionShow()">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="funcIsActionDisabled()">
                {{"eip.eip.Action" | translate}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{"eip.eip.Enable" | translate}}</a></li>
                <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{"eip.eip.Disable" | translate}}</a></li>
                <li><a href ng-click="action.attach()" ng-show="model.current.isAttachShow()">{{"eip.eip.Attach" | translate}}</a></li>
                <li><a href ng-click="action.detach()" ng-show="model.current.isDetachShow()">{{"eip.eip.Detach" | translate}}</a></li>
                <li class="divider"></li>
                <li><a href style="color:red" ng-click="funcDeleteEip(deleteEip)">{{"eip.eip.Delete" | translate}}</a></li>
            </ul>
        </div>
    </div>

    <div kendo-grid="eipGrid" k-options="oEipGrid.options" z-grid-double-click="funcGridDoubleClick" class="z-flat-table"></div>
    <p class="z-hint">{{"eip.eip.HINT1" | translate}}</p>
    <p class="z-hint">{{"eip.eip.HINT2" | translate}}</p>
</div>
