<div style="display: none">
    <div z-create-security-group="winNewSecurityGroup" z-options="optionsCreateSecurityGroup"></div>
    <div z-search="search" z-options="optionsSearch"></div>
    <div z-delete-confirm="deleteSecurityGroup" z-options="optionsDeleteSecurityGroup"></div>
    <div z-security-group-add-rule="addRule" z-options="optionsAddRule"></div>
    <div z-security-group-delete-rule="deleteRule" z-options="optionsDeleteRule"></div>
    <div z-security-group-attach-l3-network="attachL3Network" z-options="optionsAttachL3Network"></div>
    <div z-security-group-detach-l3-network="detachL3Network" z-options="optionsDetachL3Network"></div>
    <div z-security-group-add-vm-nic="addVmNic" z-options="optionsAddVmNic"></div>
    <div z-security-group-remove-vm-nic="removeVmNic" z-options="optionsRemoveVmNic"></div>
</div>

<div>
    <h3 class="z-h3">{{"securityGroup.securityGroup.SECURITY GROUP" | translate}}</h3>
    <div class="btn-group-sm z-btn-bar">
        <button type="button" class="btn btn-default btn-sm" ng-click="funcRefresh()">
            <i class="fa fa-refresh"></i>
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-click="funcSearch(search)">
            <i class="fa fa-search"></i>
        </button>

        <div z-sort-by z-options="optionsSortBy"></div>

        <button z-popover="popoverFilterBy" type="button" id="hostFilter" z-content-id="hostFilterContent" class="btn btn-default btn-sm" ng-click="filterBy.open(popoverFilterBy)">
            <i class="fa fa-filter"></i><span>&nbsp; {{filterBy.getButtonName()}}</span>
        </button>

        <button type="button" class="btn btn-success btn-sm" style="margin-left: 20px" ng-click="funcCreateSecurityGroup(winNewSecurityGroup)">
            <i class="fa fa-plus"></i>
            <span>&nbsp; {{"securityGroup.securityGroup.New Security Group" | translate}}</span>
        </button>

        <div id="hostFilterContent" style="display: none">
            <form class="form">
                <div class="form-group">
                    <label for="fieldList" class="z-block-label">{{"securityGroup.securityGroup.FILTER BY" | translate}}</label>
                    <select id="fieldList" kendo-drop-down-list k-options="filterBy.fieldList" ng-model="filterBy.field"></select>
                </div>
                <div class="form-group">
                    <label class="z-block-label" for="valueList">{{"securityGroup.securityGroup.VALUE" | translate}}</label>
                    <select kendo-drop-down-list id="valueList" ng-disabled="filterBy.isValueListDisabled()" k-options="filterBy.valueList" ng-model="filterBy.value"></select>
                </div>
                <button type="button" class="btn btn-sm btn-primary" ng-click="filterBy.confirm(popoverFilterBy)">{{"securityGroup.securityGroup.Confirm" | translate}}</button>
            </form>
        </div>

        <div class="btn-group" ng-show="funcIsActionShow()">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="funcIsActionDisabled()">
                {{"securityGroup.securityGroup.Action" | translate}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{"securityGroup.securityGroup.Enable" | translate}}</a></li>
                <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{"securityGroup.securityGroup.Disable" | translate}}</a></li>
                <li><a href ng-click="action.addRule()">{{"securityGroup.securityGroup.Add Rule" | translate}}</a></li>
                <li><a href ng-click="action.deleteRule()" ng-show="action.isDeleteRuleShow()">{{"securityGroup.securityGroup.Delete Rule" | translate}}</a></li>
                <li><a href ng-click="action.addNic()">{{"securityGroup.securityGroup.Add Vm Nic" | translate}}</a></li>
                <li><a href ng-click="action.removeNic()">{{"securityGroup.securityGroup.Remove Vm Nic" | translate}}</a></li>
                <li><a href ng-click="action.attachL3Network()">{{"securityGroup.securityGroup.Attach L3Network" | translate}}</a></li>
                <li><a href ng-click="action.detachL3Network()">{{"securityGroup.securityGroup.Detach L3Network" | translate}}</a></li>
                <li class="divider"></li>
                <li><a href style="color:red" ng-click="funcDeleteSecurityGroup(deleteSecurityGroup)">{{"securityGroup.securityGroup.Delete" | translate}}</a></li>
            </ul>
        </div>
    </div>

    <div kendo-grid="securityGroupGrid" k-options="oSecurityGroupGrid.options" z-grid-double-click="funcGridDoubleClick" class="z-flat-table"></div>
    <p class="z-hint">{{"securityGroup.securityGroup.HINT1" | translate}}</p>
    <p class="z-hint">{{"securityGroup.securityGroup.HINT2" | translate}}</p>
</div>
