<div kendo-window="addDns__" k-options="optionsAddDns__" k-visible="false">
    <div>
        <h4 class="z-win-h4">{{"l3Network.addDns.ADD DNS" | translate}}</h4>
        <form class="form">
            <div class="form-group col-sm-21">
                <label for="dns">{{"l3Network.addDns.DNS" | translate}}</label>
                <input class="form-control" type="text" id="dns" placeholder="(Required) IPv4 address of DNS server" ng-model="dns">
                <div class="alert alert-danger col-sm-21" ng-show="!isDnsValid()">
                    {{"l3Network.addDns.Not a valid IPv4 address" | translate}}
                </div>
            </div>

            <div class="form-group col-lg-18">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{"l3Network.addDns.Cancel" | translate}}</button>
                <button type="button" class="btn btn-primary" ng-disabled="!canProceed()" ng-click="done()">{{"l3Network.addDns.Add" | translate}}</button>
            </div>
        </form>
    </div>
</div>
