<div kendo-window="deleteDns__" k-visible="false" k-options="deleteDnsOptions__">
    <div>
        <h4 class="z-win-h4">{{"l3Network.deleteDns.DELETE DNS" | translate}}</h4>
        <form class="form">
            <div class="form-group col-sm-18">
                <label for="ps">{{"l3Network.deleteDns.DNS" | translate}}</label>
                <select id="ps" kendo-multi-select="dnsList__" k-options="dnsOptions__" class="z-win-dropdown"></select>
                <p class="z-hint">{{"l3Network.deleteDns.HINT" | translate}}</p>
            </div>

            <div class="form-group col-sm-18" style="color: #000000">
                <p><strong>{{"l3Network.deleteDns.HINT2" | translate}}</strong></p>
                <input class="form-control" style="width: 200px" type="text" ng-model="ok">
                <p class="z-hint">{{"l3Network.deleteDns.Type 'ok' to confirm" | translate}}</p>
            </div>

            <div class="form-group col-lg-18">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{"l3Network.deleteDns.Cancel" | translate}}</button>
                <button type="button" class="btn btn-danger" ng-disabled="!canProceed() || ok!='ok'" ng-click="done()">{{"l3Network.deleteDns.Delete" | translate}}</button>
            </div>
        </form>
    </div>
</div>
