<div style="display: none">
    <div z-confirm="deleteImage" z-options="optionsDeleteImage"></div>
    <div z-confirm="expungeImage" z-options="optionsExpungeImage"></div>
</div>

<div class="z-pane">
    <ol class="breadcrumb">
        <li><a href="/#/image">{{"image.details.Image" | translate}}</a></li>
        <li class="active"><a href>{{model.current.name}}</a></li>
    </ol>

    <h1>{{model.current.name}}</h1>

    <div class="z-pane-toolbar" ng-show="funcToolbarShow()">
        <div class="btn-group-sm">
            <button type="button" class="btn btn-default btn-sm z-ribbon-button" ng-click="funcRefresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{"image.details.Action" | translate}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{"image.details.Enable" | translate}}</a></li>
                    <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{"image.details.Disable" | translate}}</a></li>
                    <li><a href ng-click="action.recover()" ng-show="model.current.isRecoverShow()">{{"image.image.Recover" | translate}}</a></li>
                    <li class="divider"></li>
                    <li><a href style="color:red" ng-click="funcDeleteImage(deleteImage)" ng-show="model.current.isDeleteShow()">{{"image.image.Delete" | translate}}</a></li>
                    <li><a href style="color:red" ng-click="funcExpungeImage(expungeImage)" ng-show="model.current.isExpungeShow()">{{"image.image.Expunge" | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills">
        <li class="active"><a data-target="#info" data-toggle="pill" href>{{"image.details.Info" | translate}}</a></li>
        <li><a data-target="#backupStorage" data-toggle="pill" href>{{"image.details.Backup Storage" | translate}}</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <tags-input ng-model="optionsTag.tags" display-property="tag" min-length="1"
                        on-tag-added="optionsTag.createTag($tag)" on-tag-removed="optionsTag.deleteTag($tag)"
                        add-on-comma="false" replace-spaces-with-dashes="false" ng-show="optionsTag.isShow()"></tags-input>

            <div class="panel panel-default" z-panel-header-in>
                <div class="panel-heading">
                    <a class="accordion-toggle" data-target="#infoDetails" data-toggle="collapse" href>
                        <i class="z-collapse fa fa-chevron-down"></i>
                        <span>&nbsp; {{"image.details.DETAILS" | translate}}</span>
                    </a>
                </div>

                <div id="infoDetails" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table z-table-borderless">
                            <tr>
                                <td><span class="z-label">{{"image.details.DESCRIPTION" | translate}}</span></td>
                                <td><span class="z-description">{{model.current.description}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.STATE" | translate}}</span></td>
                                <td><span class="{{model.current.stateLabel()}}">{{model.current.state}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.STATUS" | translate}}</span></td>
                                <td><span class="{{model.current.statusLabel()}}">{{model.current.status}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.URL" | translate}}</span></td>
                                <td><span>{{model.current.url}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.SIZE" | translate}}</span></td>
                                <td><span>{{model.current.size | size}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.FORMAT" | translate}}</span></td>
                                <td><span>{{model.current.format}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.MEDIA TYPE" | translate}}</span></td>
                                <td><span>{{model.current.mediaType}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.GUEST OS TYPE" | translate}}</span></td>
                                <td><span>{{model.current.guestOsType}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.UUID" | translate}}</span></td>
                                <td><span>{{model.current.uuid}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.CREATED DATE" | translate}}</span></td>
                                <td><span>{{model.current.createDate}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"image.details.LAST UPDATED DATE" | translate}}</span></td>
                                <td><span>{{model.current.lastOpDate}}</span></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <div class="tab-pane" id="backupStorage">
            <div kendo-grid k-options="optionsBackupStorageGrid" class="z-flat-table"></div>
            <p class="z-hint">{{"image.details.HINT" | translate}}</p>
        </div>
    </div>
</div>
