<div kendo-window="changeInstanceOffering__" k-visible="false">
    <div>
        <h4 class="z-win-h4">{{"vm.changeInstanceOffering.CHANGE INSTANCE OFFERING" | translate}}</h4>
        <form class="form">
            <div class="form-group col-sm-18">
                <label for="ps">{{"vm.changeInstanceOffering.INSTANCE OFFERING" | translate}}</label>
                <select id="ps" kendo-drop-down-list k-options="instanceOfferingOptions__" class="z-win-dropdown" ng-model="instanceOfferingUuid"></select>
            </div>
            <div class="form-group col-lg-18">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{"vm.changeInstanceOffering.Cancel" | translate}}</button>
                <button type="button" class="btn btn-primary" ng-disabled="!canProceed()" ng-click="done()">{{"vm.changeInstanceOffering.Change" | translate}}</button>
            </div>
        </form>
    </div>
</div>
