<div kendo-window="migrateVm__" k-visible="false" k-options="migrateVmOptions__">
    <div>
        <h4 class="z-win-h4">{{"vm.migrateVm.MIGRATE VM INSTANCE" | translate}}</h4>
        <form class="form">
            <div class="form-group col-sm-18">
                <label for="host">{{"vm.migrateVm.TARGET HOST" | translate}}</label>
                <select id="host" kendo-drop-down-list k-options="hostOptions__" class="z-win-dropdown" ng-model="hostUuid"></select>
                <p class="z-hint">{{"vm.migrateVm.HINT" | translate}}</p>
            </div>

            <div class="form-group col-lg-18">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{"vm.migrateVm.Cancel" | translate}}</button>
                <button type="button" class="btn btn-primary" ng-disabled="!canProceed()" ng-click="done()">{{"vm.migrateVm.Migrate" | translate}}</button>
            </div>
        </form>
    </div>
</div>
