<div kendo-window="winCreateHost__" k-visible="false" k-options="winCreateHostOptions__">
    <div class="row">
        <div class="col-sm-15">
            <div class="tab-content">
                <div id="createHostInfo" class="tab-pane active">
                    <div class="alert alert-warning col-sm-21" ng-show="!infoPage.hasCluster()">
                        No cluster has been created. Please go to <a href="/#/cluster">cluster page</a> to create a new one.
                    </div>

                    <h4 class="z-win-h4">ADD HOST</h4>
                    <form class="form" id="formCreate">
                        <div class="form-group col-sm-24">
                            <label for="zone">ZONE</label>
                            <select id="zone" kendo-drop-down-list k-options="zoneList" class="z-win-dropdown" ng-model="infoPage.zoneUuid"></select>
                            <p class="z-hint">(Required) select zone where the Host is being added</p>
                        </div>
                        <div class="form-group col-sm-24">
                            <label for="cluster">CLUSTER</label>
                            <select id="cluster" kendo-drop-down-list k-options="clusterListOptions__" class="z-win-dropdown" ng-model="infoPage.clusterUuid"></select>
                            <p class="z-hint">(Required) select zone where the Host is being added</p>
                        </div>
                        <div class="form-group col-sm-21">
                            <label for="name">NAME</label>
                            <input class="form-control" type="text" id="name" placeholder="(Required) max length of 255 characters" ng-model="infoPage.name" required data-message="name is required">
                        </div>
                        <div class="form-group col-sm-21">
                            <label for="description">DESCRIPTION</label>
                            <textarea  class="form-control" rows="5" id="description" placeholder="(Optional) max length of 2048 characters" ng-model="infoPage.description"></textarea>
                        </div>
                        <div class="form-group col-sm-21">
                            <label for="ip">HOST IP</label>
                            <input type="text" class="form-control" id="ip" placeholder="IPv4 address or DNS name" ng-model="infoPage.managementIp">
                        </div>
                        <div ng-switch="infoPage.hypervisorType">
                            <div ng-switch-when="KVM">
                                <div class="form-group col-sm-21">
                                    <label for="username">USER NAME</label>
                                    <input type="text" class="form-control" id="username" placeholder="ssh user name" ng-model="infoPage.username">
                                </div>
                                <div class="form-group col-sm-21">
                                    <label for="password">PASSWORD</label>
                                    <input type="password" class="form-control" id="password" placeholder="ssh password" ng-model="infoPage.password">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="form-group col-sm-21">
                    <button type="button" class="btn btn-primary" ng-disabled="!button.canNextProceed()" ng-click="button.nextClick()">{{button.nextButtonName()}}</button>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="z-wizard-bar">
                <ul class="nav">
                    <li class="active"><a data-target="#createHostInfo" ng-click="button.pageClick('createHostInfo')">HOST INFO</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>