<div style="display: none">
    <div z-delete-confirm="deleteHost" z-options="optionsDeleteHost"></div>
</div>

<div class="z-pane">
    <ol class="breadcrumb">
        <li><a href="/#/host">{{"host.details.HOST" | translate}}</a></li>
        <li class="active"><a href>{{model.current.name}}</a></li>
    </ol>

    <h1>{{model.current.name}}</h1>

    <div class="z-pane-toolbar" ng-show="funcToolbarShow()">
        <div class="btn-group-sm">
            <button type="button" class="btn btn-default btn-sm z-ribbon-button" ng-click="funcRefresh()">
                <i class="fa fa-refresh"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{"host.details.Action" | translate}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{"host.details.Enable" | translate}}</a></li>
                    <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{"host.details.Disable" | translate}}</a></li>
                    <li><a href ng-click="action.reconnect()">{{"host.details.Reconnect" | translate}}</a></li>
                    <li><a href ng-click="action.maintain()" ng-show="action.isMaintainShow()">{{"host.details.Enter Maintenance Mode" | translate}}</a></li>
                    <li class="divider"></li>
                    <li><a href style="color:red" ng-click="funcDelete(deleteHost)">{{"host.details.Delete" | translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills">
        <li class="active"><a data-target="#info" data-toggle="pill" href>{{"host.details.Info" | translate}}</a></li>
        <li><a data-target="#systemTag" data-toggle="pill" href>{{"host.details.System Tag" | translate}}</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="info">
            <tags-input ng-model="optionsTag.tags" display-property="tag" min-length="1"
                        on-tag-added="optionsTag.createTag($tag)" on-tag-removed="optionsTag.deleteTag($tag)"
                        add-on-comma="false" replace-spaces-with-dashes="false" ng-show="optionsTag.isShow()"></tags-input>

            <div class="panel panel-default" z-panel-header-in>
                <div class="panel-heading">
                    <a class="accordion-toggle" data-target="#infoDetails" data-toggle="collapse" href>
                        <i class="z-collapse fa fa-chevron-down"></i>
                        <span>&nbsp; {{"host.details.DETAILS" | translate}}</span>
                    </a>
                </div>

                <div id="infoDetails" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table z-table-borderless">
                            <tr>
                                <td><span class="z-label">{{"host.details.DESCRIPTION" | translate}}</span></td>
                                <td><span class="z-description">{{model.current.description}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"host.details.STATE" | translate}}</span></td>
                                <td><span class="{{model.current.stateLabel()}}">{{model.current.state}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"host.details.STATUS" | translate}}</span></td>
                                <td><span class="{{model.current.statusLabel()}}">{{model.current.status}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"host.details.HYPERVISOR" | translate}}</span></td>
                                <td><span>{{model.current.hypervisorType}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"host.details.HOST IP" | translate}}</span></td>
                                <td><span>{{model.current.managementIp}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"host.details.UUID" | translate}}</span></td>
                                <td><span>{{model.current.uuid}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"host.details.CLUSTER UUID" | translate}}</span></td>
                                <td><a href="/#/cluster/{{model.current.clusterUuid}}">{{model.current.clusterUuid}}</a></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"host.details.ZONE UUID" | translate}}</span></td>
                                <td><a href="/#/zone/{{model.current.zoneUuid}}">{{model.current.zoneUuid}}</a></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"host.details.CREATED DATE" | translate}}</span></td>
                                <td><span>{{model.current.createDate}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="z-label">{{"host.details.LAST UPDATED DATE" | translate}}</span></td>
                                <td><span>{{model.current.lastOpDate}}</span></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane" id="systemTag">
            <div ng-repeat="tag in systemTags" style="margin-bottom: 15px">
                <span class="label label-default" style="font-size: 1.2em;">{{tag.tag}}</span>
            </div>
        </div>
    </div>
</div>
