<div style="display: none">
    <div z-create-host="winNewHost" z-options="optionsCreateHost"></div>
    <div z-search="search" z-options="optionsSearch"></div>
    <div z-delete-confirm="deleteHost" z-options="optionsDeleteHost"></div>
</div>

<div>
    <h3 class="z-h3">{{"host.host.HOST" | translate}}</h3>
    <div class="btn-group-sm z-btn-bar">
        <button type="button" class="btn btn-default btn-sm" ng-click="funcRefresh()">
            <i class="fa fa-refresh"></i>
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-click="funcSearch(search)">
            <i class="fa fa-search"></i>
        </button>

        <div z-sort-by z-options="optionsSortBy"></div>

        <button z-popover="popoverFilterBy" type="button" id="hostFilter" z-content-id="hostFilterContent" class="btn btn-default btn-sm" ng-click="filterBy.open(popoverFilterBy)">
            <i class="fa fa-filter"></i><span>&nbsp; {{filterBy.getButtonName()}}</span>
        </button>

        <button type="button" class="btn btn-success btn-sm" style="margin-left: 20px" ng-click="funcCreateHost(winNewHost)">
            <i class="fa fa-plus"></i>
            <span>&nbsp; {{"host.host.New Host" | translate}}</span>
        </button>

        <div id="hostFilterContent" style="display: none">
            <form class="form">
                <div class="form-group">
                    <label for="fieldList" class="z-block-label">{{"host.host.FILTER BY" | translate}}</label>
                    <select id="fieldList" kendo-drop-down-list k-options="filterBy.fieldList" ng-model="filterBy.field"></select>
                </div>
                <div class="form-group">
                    <label class="z-block-label" for="valueList">{{"host.host.VALUE" | translate}}</label>
                    <select kendo-drop-down-list id="valueList" ng-disabled="filterBy.isValueListDisabled()" k-options="filterBy.valueList" ng-model="filterBy.value"></select>
                </div>
                <button type="button" class="btn btn-sm btn-primary" ng-click="filterBy.confirm(popoverFilterBy)">{{"host.host.Confirm" | translate}}</button>
            </form>
        </div>

        <div class="btn-group" ng-show="funcIsActionShow()">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="funcIsActionDisabled()">
                {{"host.host.Action" | translate}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href ng-click="action.enable()" ng-show="model.current.isEnableShow()">{{"host.host.Enable" | translate}}</a></li>
                <li><a href ng-click="action.disable()" ng-show="model.current.isDisableShow()">{{"host.host.Disable" | translate}}</a></li>
                <li><a href ng-click="action.reconnect()">{{"host.host.Reconnect" | translate}}</a></li>
                <li><a href ng-click="action.maintain()" ng-show="action.isMaintainShow()">{{"host.host.Enter Maintenance Mode" | translate}}</a></li>
                <li class="divider"></li>
                <li><a href style="color:red" ng-click="funcDeleteHost(deleteHost)">{{"host.host.Delete" | translate}}</a></li>
            </ul>
        </div>
    </div>

    <div kendo-grid="hostGrid" k-options="oHostGrid.options" z-grid-double-click="funcGridDoubleClick" class="z-flat-table"></div>
    <p class="z-hint">{{"host.host.HINT" | translate}}</p>
    <p class="z-hint">{{"host.host.HINT2" | translate}}</p>
</div>
